body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --biolink-page-2-lvltg56f-mobile-body-highlight-emphasis: Quicksand;

  /* font sizes */
  --font-size-sm: 14px;
  --biolink-page-2-lvltg56f-mobile-body-highlight-emphasis-size: 16px;
  --biolink-page-2-lvltg56f-mobile-headings-display-3-size: 32px;

  /* Colors */
  --neutrals-neutrals1000: #484848;
  --neutrals-base-black: #363636;
  --primary-primary: #00bf63;
  --secondary-secondary: #ffde59;
  --base-base-white: #fafafa;
  --neutrals-neutrals100: #e8e8e8;
  --primary-primary100: #d7ffec;

  /* Gaps */
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-29xl: 48px;
  --br-81xl: 100px;
}
